{namespace dev-page}

{template index}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>{$name} @ {$url}</title>
      <style>
        // TODO: Ask fukamachi how to have multiple static middlewares
        {$css|noAutoescape}
      </style>
      <script>
        {$js|noAutoescape}
      </script>
    </head>
    <body>
      <header>
        <h1 class='error-name'>{$name}
          <small class='url'>{$url}</small></h1>
        <span class='date-time'>{$datetime}</span>
      </header>
      <div class='backtrace'>
        <h2>Backtrace</h2>
        <ol>
          {foreach $frame in $backtrace}
            <li class='frame'>
              <pre>
                <code class='lisp'>
                  {$frame}
                </code>
              </pre>
            </li>
          {/foreach}
        </ol>
      </div>
      <div class='slots'>
        <h2>Slots</h2>
        <dl>
          {foreach $slot in $slots}
          <dt>
            <code class='slot-name'>{$slot[0]}</code> 
          </dt>
          <dd>
            <pre>
              <code class='slot-value lisp'>
                {if $slot[1]}
                  {$slot[1]}
                {else}
                  NIL
                {/if}
              </code>
            </pre>
          </dd>
          {/foreach}
        </dl>
      </div>
      <hr>
      <div class='req'>
        <h2>Request</h2>
        <dl>
          {foreach $pair in $env}
          <dt>
            <code class='param-name'>{$pair[0]}</code> 
          </dt>
          <dd>
            <code class='param-value'>
              {if $pair[1]}
                {$pair[1]}
              {else}
                NIL
              {/if}
            </code>
          </dd>
          {/foreach}
        </dl>
      </div>
      <script>
        HighlightLisp.highlight_auto();
      </script>
    </body>
  </html>
{/template}
