{namespace error-page}

{template index}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>{$name} at {$url}</title>
      <style>
        // TODO: Ask fukamachi how to have multiple static middlewares
       {$css}
      </style>
    </head>
    <body>
      <header>
        <h1 class='error-name'>{$name}
          <small class='url'>{$url}</small></h1>
        <span class='date-time'>at {$datetime}</span>
      </header>
      <ol class='backtrace col-md-6'>
        <h2>Backtrace</h2>
        {foreach $frame in $backtrace}
          <li class='frame'>
            <pre>
              {$frame}
            </pre>
          </li>
        {/foreach}
      </ol>
      <div class='col-md-6'>
        <h2>Slots</h2>
        <dl class='dl-horizontal'>
          {foreach $slot in $slots}
          <dt>
            <code class='slot-name'>{$slot[0]}</code> 
          </dt>
          <dd>
            <code class='slot-value'>
              {if $slot[1]}
                {$slot[1]}
              {else}
                NIL
              {/if}
            </code>
          </dd>
          {/foreach}
        </dl>
        <h2>Request</h2>
        <dl class='dl-horizontal'>
          {foreach $pair in $env}
          <dt>
            <code class='param-name'>{$pair[0]}</code> 
          </dt>
          <dd>
            <code class='param-value'>
              {if $pair[1]}
                {$pair[1]}
              {else}
                NIL
              {/if}
            </code>
          </dd>
          {/foreach}
        </dl>
      </div>
    </body>
  </html>
{/template}
