{namespace prod-page}

{template index}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>{$name} @ {$url}</title>
      <style>
        {$css|noAutoescape}
      </style>
    </head>
    <body>
      <header>
        <h1>{$name}</h1>
        <h3>An error was encountered.</h3>
      </header>
    </body>
  </html>
{/template}
